asgiref==3.11.1
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
Django==6.0.4
django-rest-framework==0.1.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
flake8==7.3.0
idna==3.13
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.0
platformdirs==4.9.6
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.33.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
urllib3==2.6.3
